:root {
  --background: #000000;
  --foreground: #ffffff;
  --gray-color-text: #f6eeff;
  --purple-color-text: #9e50ff;

  --border-radios: 52px
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  color: var(--foreground);
  font-family: var(--font-proxima-bold);
  background-color: var(--background);
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 60px;
}

.purple {
  color: var(--purple-color-text);
  text-transform: uppercase;
  background: #9e50ff;
  background: linear-gradient(90deg, rgba(95, 48, 153, 1) -30%, rgba(158, 80, 255, 1) 50%, rgba(95, 48, 153, 1) 130%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h1 {
  font-size: 8.33rem;
  text-align: center;
}

h2 {
  font-size: 10rem;
  text-align: center;
}

h3 {
  font-family: var(--font-proxima-extra-bold);
  color: #e5e3e7;
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
  background: #949099;
  background: linear-gradient(
    90deg,
    rgba(148, 144, 153, 1) 0%,
    rgba(247, 240, 255, 1) 50%,
    rgba(148, 144, 153, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 1920px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
