.team {
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
}

.team::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/team/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.team::after {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20%;
  background-color: #140c1d;
  filter: blur(100px);
  z-index: -1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense;
  gap: 30px;
  justify-items: center;
  text-align: center;
}

.merged {
  grid-column: 2 / 4;
}

.merged p {
  margin-top: 40px;
  width: 650px;
}

.element {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 52px;
}

.body {
  width: 390px;
  height: 275px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: inset 0 0 68px 0 rgba(255, 255, 255, 0.2),
    0px 0px 20px rgba(255, 255, 255, 0.3);
}

.body img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  border-radius: inherit;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);

  width: 390px;
  height: 115px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: inset 0 0 68px 0 rgba(0, 0, 0, 0.4);
}

.text h4 {
  font-size: 2.5rem;
}

.text div {
  font-size: 2rem;
  color: var(--background);
  opacity: 0.7;
}

@media (max-width: 1920px) {
  .team {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .team::before {
    top: -0.33vw;
  }

  .grid {
    gap: 1.6vw;
  }

  .merged p {
    margin-top: 1.3vw;
    width: 34.2vw;
  }

  .body {
    width: 20.5vw;
    height: 14.95vw;
  }
  .text {
    width: 20.5vw;
    height: 6.04vw;
  }

  .text h4 {
    font-size: 1.6vw;
  }

  .text div {
    font-size: 1.3vw;
  }
}

@media (max-width: 768px) {
  .team {
    padding-top: 6.6vw;
    padding-bottom: 10.5vw;
  }
  .team::before {
    top: -1.4vw;
  }
  .grid {
    gap: 6vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: unset;
    grid-auto-flow: unset;
  }
  .merged {
    grid-column: unset;
  }
  .merged p {
    margin-top: 2vw;
    width: 71.7vw;
  }

  .body {
    width: 65.2vw;
    height: 45.6vw;
  }
  .text {
    width: 65.2vw;
    height: 19.6vw;
  }

  .text h4 {
    font-size: 5.5vw;
  }

  .text div {
    font-size: 4vw;
  }
}
