.footer {
  padding-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid white;
  box-shadow: inset 100px 0 100px rgba(0, 0, 0, 0.5), inset -100px 0 100px rgba(0, 0, 0, 0.5);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.row span {
  font-family: var(--font-baradig-bold);
  font-weight: 700;
  font-size: 2.6rem;
}

.links {
  position: relative;
  margin-top: 60px;
  width: 830px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  top: 0;
  left: 0;
}

.links::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  bottom: 0;
  right: 0;
}

.links a {
  width: 140px;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--foreground);
  background-color: var(--background);
  overflow: hidden;
}

.links a span {
  font-family: var(--font-source-sans);
  text-transform: uppercase;
  font-size: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .links a:hover span {
    animation: slide 0.5s;
  }
}

.privacy {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.privacy span {
  font-size: 1.3rem;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-48px);
  }

  51% {
    transform: translateY(48px);
  }

  100% {
    transform: translateY(0);
  }
}

#glass-left,
#glass-right {
  position: absolute;
  z-index: -1;
}

#glass-left {
  left: -10%;
}

#glass-right {
  right: -10%;
  transform: scaleX(-1);
}

@media (max-width: 1920px) {
}
@media (max-width: 768px) {
}